{% extends 'base.html' %}

{% block content %}
  <h1>update</h1>
  <hr>
  <form action="{% url 'articles:create' %}" method="POST">
    {% csrf_token %}
    <label for="title">제목</label>
    <input type="text" name="title" id="title" value={{article.title}}>

    <label for="content">내용</label>
    {% comment %} <input type="text" name="content" id="content" value= {{article.content}}> {% endcomment %}
    <textarea name="content" id="content" cols="30" rows="10">
      {{article.content}}
    </textarea>



    <input type="submit" value="수정">
  </form>

  <a href="{% url 'articles:index' %}">index 페이지로</a>
{% endblock content %}